.navbar-header
  = link_to 'VK', root_path, class: 'navbar-brand'
%nav.collapse.navbar-collapse.bs-navbar-collapse{role: 'navigation'}
  %ul.nav.navbar-nav
    %li= link_to t('.apartments'), admin_apartments_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to t('.sign_out'), destroy_admin_session_path, method: :delete