.panel.panel-default
  .panel-heading
    = @parent_page.title
  .panel-body
    %ul
      = list_of(@parent_page.child_pages.active) do |child_page|
        = link_to_unless_current child_page.title, child_page.path
