- page = @child_page || @parent_page

.col-md-8!= page.content
.col-md-4= render 'sidebar'

- content_for :admin_edit_link do
  = edit_admin_page_path(page)

= render partial: 'seo_tags/seo_tag', collection: page.seo_tags
