default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  host: localhost
  username:
  password:

development:
  <<: *default
  database: vk_development

test:
  <<: *default
  database: vk_test
