- if @reservation.errors.any?
  :plain
    $('#reservation-form').html("#{escape_javascript(render 'form')}");
    new Vk.Forms.ReservationForm();
- else
  :plain
    $('#reservation-form').html("<p>#{t('.thank_you')}</p>");
