- if @reservation.errors.any?
  :plain
    $('#reservation-form').html("#{escape_javascript(render 'form')}");
    $('.datepicker').custom_datepicker();
- else
  :plain
    $('#reservation-form').html("<p>#{t('.thank_you')}</p>");
