.col-sm-6
  %h3= link_to apartment.title, apartment.path
  %a{href: apartment.path}
    = image_tag apartment.main_photo.image.small.url, title: apartment.title,
      alt: apartment.short_description, size: '350x200'
  %p.text-muted= apartment.price.ceil
  %p= apartment.short_description
  %a.btn.btn-lg.btn-red{href: "blog-post.html"} Read More...
