#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title My title
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %a.indicator
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button{type: 'button', class: 'close', 'aria-hidden' => true}
          %h4.modal-title
        .modal-body.next
          .modal-footer
            %button{type: 'button', class: 'btn btn-default pull-left prev'}
              %i.glyphicon.glyphicon-chevron-left
              Previous
            %button{type: 'button', class: 'btn btn-primary next'}
              Next
              %i.glyphicon.glyphicon-chevron-right