%h1 Listing

%table
  %tr
    %th Title
    %th Price
    %th Description

  - @apartments.each do |apartment|
    %tr
      %td= link_to apartment.title, apartment
      %td= apartment.price
      %td= apartment.description
%br
%span #{I18n.locale}
