//TODO do it via presenters
- if (page = @child_page || @parent_page || @apartment) &&
-   (breadcrumbs = breadcrumb_pages(page)).count > 1
  .topic
    .container
      .row
        .col-sm-4
          %h3= page.title
        .col-sm-8
          %ol.breadcrumb.pull-right.hidden-xs
            - (breadcrumbs[0...-1]).each do |page|
              %li= link_to(page.title, page.path)
            %li.active= breadcrumbs.last.title
