//TODO do it via presenters
- if (page = @child_page || @parent_page) &&
-   (breadcrumbs = breadcrumb_pages(page)).count > 1
  .lead
    .breadcrumbs
      - (breadcrumbs[0...-1]).each do |page|
        .pull-left{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
          = succeed ' ' do
            %a{href: present(page).path, itemprop: 'url'}
              %span{itemprop: 'title'}
                = page.title
            = '›› '
      .pull-left
        %span= breadcrumbs.last.title

