%nav
  %ul.nav.navbar-nav
    %li
      %a{href: 'https://plus.google.com/108369022058258511554?rel=author'}
        %i.fa.fa-google-plus
  %ul.nav.navbar-nav.navbar-right
    %p.navbar-text
      &copy; VK-Lviv, 2014
