!!!
%html{lang: @locale}
  = render 'layouts/head'
  %body{class: ['admin', controller_name, action_name]}
    %header.header.navbar.navbar-default.navbar-fixed-top
      .container
        = render 'layouts/admin/navigation'
    .container
      .row
        .col-md-12
          = render 'layouts/flash_messages'
          = yield
    %footer.bs-footer
