!!!
%html{lang: @locale}
  = render 'layouts/head'
  %body{class: [controller_name, action_name]}
    %header.navbar.navbar-inverse.navbar-static-top{role: 'bunner'}
      .container
        = render 'layouts/navigation'
    .container
      .row
        .col-md-12
          = render 'layouts/flash_messages'
          = yield
    %footer
