!!!
%html{lang: @locale.to_i18n}
  = render 'layouts/head'
  %body{class: [controller_name, action_name]}
    %header.header.navbar.navbar-inverse.navbar-fixed-top
      .container
        = render 'layouts/navigation'
    #main{role: 'main'}
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/flash_messages'
              = yield
          %footer
